.register {
  flex: 1;
}

.title {
  composes: header-three from '../App/typography.css';
  text-align: center;
}

.extraColName {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.registerForm {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.input {
  margin: auto;
}

.emailInput {
  /*composes: input;*/
}
