/* Global styles */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:global(#app) {
  background-color: #FAFAFA;
  /* Setting height: 100% so .wrapper can inherit this height */
  /*height: 100%;*/
  min-width: 100%;
}

.wrapper {
  /*height: 100%;*/
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
}

/* This rule wraps the main content of our app. We give it a flex-grow of 1 so
   it'll grow to fill the available space. We have to have it grow so that the
   footer is pushed to take minimum space. */
.contentWrapper {
  display: flex;
  flex: 1;
}

/*.wrapper {
  max-width: calc(768px + 16px * 2);
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;
}*/
